-#.pull-right
-#  = link_to('#') do
-#    %span.glyphicon.glyphicon-plus
-#    New Vehicle
%h2
  Vehicles for #{@user.name}

%table.table.table-striped
  %thead
    %tr
      %th Id
      %th Year
      %th Make
      %th Model
      %th Trim
  %tbody
    - @vehicles.each do |vehicle|
      %tr
        %td= link_to(vehicle.id, user_vehicle_path(@user.email, vehicle.id))
        %td= vehicle.year
        %td= vehicle.make
        %td= vehicle.model
        %td= vehicle.trim