.navbar.navbar-default{:role => "navigation"}
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Octopussy', root_path, class: 'navbar-brand'
    - if logged_in?
      .navbar-collapse.collapse
        %ul.nav.navbar-nav
          = navbar_link_to 'Vehicles', :vehicles, :index, user_id: current_user.email
          = navbar_link_to 'Sign Out', :sessions, :destroy, {}, method: :delete
        = form_tag search_users_path, id: 'user-search', method: 'get', role: 'search', class: 'navbar-form navbar-form-left' do |f|
          .form-group
            = text_field_tag :q, params[:q], placeholder: 'User Search', class: 'form-control typeahead'
            -#= button_tag 'Submit', type: 'submit', class: 'btn btn-default'